$ff-serif: "Playfair Display", Georgia, serif;
$ff-sans: Lato, "Helvetica Neue", Helvetica, sans-serif;

$black: #3D3D3D;
$white: #f4f4f4;
$red: #fc2d48;
$blue: #1a69f7;


$light: #fff;
$dark-blue: #19222E;
$light-blue: #0D64FF;
$red: #FF2842;